# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

cpmerp/accounts/               @deepeshgarg007 @ruthra-kumar
cpmerp/assets/                 @anandbaburajan @deepeshgarg007
cpmerp/regional                @deepeshgarg007 @ruthra-kumar
cpmerp/selling                 @deepeshgarg007 @ruthra-kumar
cpmerp/support/                @deepeshgarg007
pos*                            

cpmerp/buying/                 @rohitwaghchaure @s-aga-r
cpmerp/maintenance/            @rohitwaghchaure @s-aga-r
cpmerp/manufacturing/          @rohitwaghchaure @s-aga-r
cpmerp/quality_management/     @rohitwaghchaure @s-aga-r
cpmerp/stock/                  @rohitwaghchaure @s-aga-r
cpmerp/subcontracting          @rohitwaghchaure @s-aga-r

cpmerp/controllers/            @deepeshgarg007 @rohitwaghchaure
cpmerp/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @phot0n
